# Binaries
/LumpfishMediaCatcher/
/LumpfishMediaCatcher-*/
yt-dlp
*.exe
*.exe~
*.dll
*.so
*.dylib

# config files and logs
lmc-config.json
lmc-app.log

# Test binary
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
